body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100svh;

  > header {
    grid-area: header;
  }

  > main {
    grid-area: main;
    padding: var(--space-3);
    nav[aria-label="Cheese families"] {
      display: flex;
      gap: var(--space-3);
    }

    #hero-fresh {
      view-transition-name: cheese-fresh;
    }
    #hero-soft {
      view-transition-name: cheese-soft;
    }
    #hero-blue {
      view-transition-name: cheese-blue;
    }
    #hero-hard {
      view-transition-name: cheese-hard;
    }
  }

  > footer {
    grid-area: footer;
  }
}
